{% load film_tag %}
<div class="card-body p-4">
    <div class="d-flex flex-start">
        {% comment %} <img
        class="rounded-circle shadow-1-strong me-3"
        src="https://mdbootstrap.com/img/Photos/Avatars/img%20(26).jpg"
        alt="avatar"
        width="60"
        height="60"
        /> {% endcomment %}
        <div>
            <h6 class="fw-bold mb-1">{{ review.user.username }}</h6>
            <div class="d-flex align-items-center mb-3">
                <p class="mb-0">
                    {{ review.published_at }}
                </p>
                <a href="#!" class="link-muted">
                    <i class="fas fa-pencil-alt ms-2"></i>
                </a>
            </div>
            <p class="mb-3">
                {{ review.text }}
            </p>
            <span class="h5">
                <div class="rating-area d-flex flex-row-reverse justify-content-end" id="average-score">

                    {% get_user_film_score film review.user as user_film_score %}

                    {% for star in film.get_stars_range %}
                        <input 
                        type="radio"
                        value="{{ star }}"
                        disabled

                        {% comment %} {{ user.score_set|get_score_by_film_id:film.pk as user_film_score }} {% endcomment %}
                        {% if user_film_score == star %}checked{% endif %}
                        >
                        <label for="{{ film.title }}-star-{{ star }}" title="Оценка «{{ star }}»"></label>

                    {% endfor %}
                </div>
            </span>
        </div>
    </div>
</div>