{% load film_tag %}
<div class="card {{ class }}"
     style="width: 18rem; background-color: #a7ccbd"
     data-film-id="{{ film.pk }}">
    <img src="{{ film.poster.url }}" class="card-img-top img-fluid"
         alt="poster of the film" style="height: 45%">
    <div class="card-body">
        <h5 class="card-title">{{ film.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted" style="height: 40px">
            {% for genre in film.genres.all %}
                <span>{{ genre }}, </span>
            {% endfor %}

        </h6>
        <p class="card-text">
            <span>description: </span><span>{{ film.description|truncatechars:100 }}</span>
        </p>

        <a href="{% url 'edit_film' film.pk %}" class="btn btn-primary {% if not user.is_authenticated %}disabled{% endif %}">edit film</a>
        <a href="{{ film.get_absolute_url }}" class="btn btn-info">more about</a>

        <div class="mt-3">
            <form action="{% url 'set_film_rating' film.pk %}" method="post">
                {% csrf_token %}
                <label for="average-score"
                       class="form-label h5 text-warning"
                       style="text-shadow: 1px 1px 4px black">
                    average rating: <span>{{ film.get_average_score|floatformat:1 }}</span>
                </label>
                <div class="rating-area d-flex flex-row-reverse justify-content-end mb-3" id="average-score">

                    {% get_user_film_score film user as user_film_score %}

                    {% for star in film.get_stars_range %}
                        <input 
                        type="radio" 
                        id="{{ film.title }}-star-{{ star }}" 
                        name="rating" value="{{ star }}"
                        

                        {% comment %} {{ user.score_set|get_score_by_film_id:film.pk as user_film_score }} {% endcomment %}
                        {% if user_film_score == star %}checked{% endif %}
                        >
                        <label for="{{ film.title }}-star-{{ star }}" title="Оценка «{{ star }}»"></label>

                    {% endfor %}
                </div>
                <span class="h5">imDB: {{ film.get_imdb_rating }}</span>
                {% comment %} <span class="h5">kinopoisk: {% get_kinopoisk_rating film %}</span> {% endcomment %}
                {% comment %} <button type="submit" class="btn btn-success">save</button> {% endcomment %}
<!--                <input type="range" class="form-range" min="0" max="10" id="customRange2">-->

                
            </form>
        </div>

    </div>
</div>